body {
    font-family: Segoe UI, -apple-system, Arial, Helvetica, sans-serif;
}

#messages-root {
    display: flex;
    flex-direction: column;
}

#conversation-inputs {
    padding-top: 10px;
    display: flex;
}

#conversation-input {
    width: 550px;
    height: 100px;
}

#send-button {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#reset-button {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.conversation {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    background-color: #444;
    border-radius: 5px;
    padding: 5px;
    /* border: 1px solid white; */
}

.message {
    /* a nice off blue color: #f2f2f2; */
    background-color: #f2f2f2;
    border-color: #ebccd1;
    /* a subtle black color: #333; */
    color: #333;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin-bottom: 10px;
    max-width: 500px;
    /* border: 1px solid black; */
    border-radius: 4px;
}

.message.user {
    align-self: flex-end;
}

.message__role {
    font-weight: bold;
    background-color: #fff;
    padding: 5px;
    width: fit-content;
    border-radius: 4px 0px 4px 0px;
}

.message__role::after {
    content: ":";
}

.message__content {
    padding: 10px;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
}

.system > .message__role {
    background-color: aquamarine;
}

.assistant > .message__role {
    background-color: lightcoral;
}

.user > .message__role {
    background-color: lightblue;
}